# Python
__pycache__/
*.py[cod]
*$py.class
Backend/venv/
Backend/.env

# Node.js
node_modules/
dist/
build/
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
backend/chords.db
*.sqlite3
